---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Welcome from '../sections/welcome.astro'
import Menu from '../sections/menu.astro';
import 'aos/dist/aos.css';;
---


<Layout>
	<section id="inicio" class="h-screen w-screen">
	<Welcome />
  </section>

  <section id="menu" class="h-screen flex items-center justify-center">
    <Menu />
  </section>

  <section id="sobre" class="h-screen flex items-center justify-center bg-yellow-100">
    <h2 class="text-3xl">Nuestro Menú</h2>
  </section>
</Layout>
