---
// Componente de navbar responsivo
---

<nav class="fixed top-0 left-0 w-full bg-transparent  z-50 ">
  <div class="max-w-screen-xl  mx-auto flex flex-wrap items-center justify-between  p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/logo.webp" alt="logo" class="h-8 w-auto rounded-full">
      <span class="self-center  text-amber-200 text-2xl font-semibold whitespace-nowrap">Los Primos</span>
    </a>
    

    <!-- Botón hamburguesa -->
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Abrir menú principal</span>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Menú -->
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col md:flex-row md:space-x-8 md:mt-0 mt-4">
        <li>
          <a href="#inicio" class="block py-2 px-3 text-amber-200 hover:text-amber-600">Inicio</a>
        </li>
        <li>
          <a href="#sobre" class="block py-2 px-3 text-amber-200 hover:text-amber-600">Sobre Nosotros</a>
        </li>
        <li>
          <a href="#menu" class="block py-2 px-3 text-amber-200 hover:text-amber-600">Nuestro Menú</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


