---
// Welcome Section of The Cousins Landing Page
import Navbar from "../components/navbar.astro";
---

<Navbar />
<div
  class="relative w-screen h-screen flex justify-center items-center text-white"
>
  <div
    class="absolute inset-0 w-full h-full bg-[url('/img2.webp')] bg-cover bg-center blur-xs"
  >
  </div>
  <div class="absolute inset-0 w-full h-full bg-black opacity-40"></div>
  <div class="relative max-w-screen-xl mx-auto px-4 z-10">
    <div
      data-aos="fade-right"
      data-aos-offset="200"
      data-aos-easing="ease-in-sine"
      data-aos-duration="600"
    >
      <div class="flex flex-row items-center gap-2">
        <h1 class="text-3xl md:text-6xl font-bold mb-4">Bienvenido a</h1>
        <h1 class="text-4xl md:text-6xl font-bold mb-4 text-amber-200">
          Los Primos
        </h1>
      </div>
      <h3 class="text-sm md:text-xl font-semibold mb-8">
        Tu lugar favorito para disfrutar de la mejor comida y compañía
      </h3>
    </div>
  </div>
</div>
